section
    .container
        .row
            .col-xs-12
                .section-title
                    h3=sitename
                .section-content
                    .col-lg-6.col-lg-offset-3.col-md-8.col-md-offset-2.col-sm-12
                        p=description