@media max-screen-lg
    body
        font-size basic-font-size

@media max-screen-sm
    //.fp-controlArrow
    //    display none
    #fullpage
        .section
            .slide
                .container
                    .row
                        .section-title
                            padding 0 15px
                            text-align center
                            h3
                                font-size 28px
                                line-height 28px
                        .section-content
                            .typed
                                font-size 16px
                                padding 0 15px
                                font-weight 300
            .container
                .row
                    .section-title
                        padding 0 15px
                        text-align center
                        h3
                            font-size 28px
                            line-height 28px
                    .panel-title
                        font-size 14px
                        font-weight 600
                    .section-content
                        font-size 14px
                        padding 0 15px
                        font-weight 300