/*Colors*/

$primary = #db2b39
$primary-dark = $primary  - 25%
$primary-light = $primary  + 75%
$accent = #f3a712

$text-color = #000000
$primary-text = #333333
$secundary-text = #727272
$divider = #B6B6B6
$base = #ffffff
$base-dark = #000000
$base-red = #d00234
$light-grey = #999999
$base-grey = #666666
$base-violet = #a8adf0
$base-blue = #525ce2
$background = #f6f4f0

palette = {
  "primary":         $primary,
  "primary-dark":    $primary-dark,
  "primary-light":   $primary-light,
  "text":            $text-color,
  "primary-text":    $primary-text,
  "secundary-text":  $secundary-text,
  "accent":          $accent,
  "divider":         $divider,
  "base":            $base
  "base-dark":       $base-dark
}

/*Font*/

basic-font-size = 16px
heading-font-size = 24px
text-font-family = 'Roboto', sans-serif
logo-font-family = 'Roboto', sans-serif

/*UI*/

navbar-height = 110px
space-block = 60px
clock-height = 380px

/*Media queries*/

min-screen-xs = 'screen and (min-width:480px)'
min-screen-sm = 'screen and (min-width:768px)'
min-screen-md = 'screen and (min-width:992px)'
min-screen-lg = 'screen and (min-width:1200px)'

max-screen-lg = 'screen and (max-width:1200px)'
max-screen-sm = 'screen and (max-width:769px)'
max-screen-md = 'screen and (max-width:992px)'
max-screen-xs = 'screen and (max-width:480px)'
max-screen-320 = 'screen and (max-width:321px)'
